body {
  background: #20262E;
  font-family: Helvetica;
}

.wait {
  cursor: wait;
  user-select: none;
}

#wait-dialog {
    text-align: center;
}

.banner-message {
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
}
.clickable {
  text-align: left;
}

button {
    background: #0084ff;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: large;
}

.split-button {
    width: 100%;
    height: 42px;
    vertical-align: middle;
}

.dropzone-drop-area {
    background-color: lightcyan;
    border: dashed 3px grey;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.dropzone-drop-area:hover {
    background-color: darkorange;
    border: dashed 3px black;
}

.footer {
    background: #6D7B84;
    border-radius: 4px;
    padding: 10px;
    font-size: xx-small;
    text-align: center;
    transition: all 0.2s;
    margin: 1em auto;
}


.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 32px;
  height: 32px;
  -webkit-animation: spin 700ms linear infinite; /* Safari */
  animation: spin 700ms linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.tabs {
    /*width: 600px;*/
    margin: 1em auto 0em auto;
    background-color: #09F;
    border-radius: 5px 5px 5px 5px;
}

ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
    width: 100%;
    text-align: center;
}

ul#tabs-nav li {
    font-weight: bold;
    margin-right: 2px;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: inline-block;
}

ul#tabs-nav li:hover,
ul#tabs-nav li.active {
    background-color: #08E;
}

#tabs-nav li a {
    text-decoration: none;
    color: #FFF;
}

.tab-content {
    padding: 10px;
    border: 5px solid #09F;
    background-color: #FFF;
}

.tab-contents {
    padding: 10px;
    margin: 0 auto;
}

#type {
    width: 100%;
    border: 1px solid #ccc;
    text-align-last: center;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
}

.search {
    padding: 10px 0px 10px 0px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
    margin: 0 auto;
}
#btn-search {
    margin: 0 auto;
    max-width: 64px;
    min-width: 42px;
    width: 15%;
    padding: 10px 0px 10px 0px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

#btn-search:hover {
    background: #0b7dda;
}

select {
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(https://www.deezer.com/favicon.ico) 96% / 5% no-repeat #EEE;
}

#uploader, #options {
    padding: 10px 0px 10px 0px;
    font-size: 17px;
    width: 80%;
    background: #f1f1f1;
    margin: 0 auto;
}
